
so.*
*.jpg
*.bmp
*.tiff
## Matlab ignore

*.asv
*.pdb

## C ignore
*.pyc
## python build files
Python/build
Python/pytigre.egg-info/
Python/purge.sh
Python/.idea/
Python/devtest.py
Python/dist/
Python/tigre/utilities/cuda_interface/*.cpp
.ipynb_checkpoints
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files

*.dSYM/
*.mexa64

MATLAB/mex_CUDA_win64.xml


*.mexw64

# IDE config
.vscode/

# Miscellaneous
*.pdf