 name: Release
 
 on:
   push:
     tags:
       # Publish on any tag starting with a `v`, e.g. v1.2.3
       - v*
 
 jobs:
   pypi:
     name: Publish to PyPI
     runs-on: ubuntu-latest
     container: nvidia/cuda:12.8.1-devel-ubuntu24.04
     # Environment and permissions trusted publishing.
     environment:
       # Create this environment in the GitHub repository under Settings -> Environments
       name: release
     permissions:
       id-token: write
     steps:
       - uses: actions/checkout@v4
       - uses: astral-sh/setup-uv@v3
         with:
           version: 0.6.9
           enable-cache: true
       - name: Get Pyproject Version
         run: |
          export PYPROJECT_VERSION=v$(uvx --from=toml-cli toml get --toml-path=pyproject.toml project.version)
          echo "PYPROJECT_VERSION=$PYPROJECT_VERSION" >> "$GITHUB_ENV"
       - name: Validate version with tag
         if: ${{ github.ref_name != env.PYPROJECT_VERSION }}
         uses: actions/github-script@v3
         with:
            script: |
            core.setFailed('Tag version ${{ github.ref_name }} does not match pyproject version ${{ env.PYPROJECT_VERSION }}')
       - name: Build wheel 
         run: uv build
       - name: Publish wheel 
         run: uv publish --trusted-publishing always
